
.top-buttons {
    display: flex;
    justify-content: space-around;
    width: 80%
}

.top-buttons button {
    flex: 1;
    min-width: 100px;
    margin: 0 0.5em;
}

.alert-success {
    width: 60%;
}

main .view-stats {
    min-width: fit-content;
}

main .form-select {
    display: inline-block;
    width: auto;
}

main .form-control {
    max-width: 65%
    
}

.radials {
    margin-bottom: 0.7em;
}

#input-time {
    margin-bottom: 1em;
    align-content: center;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

table {
    border-radius: 2px;
}

td {
    border-width: 4px;
    border-color: black;
    height: 80px;
    width: 120px;
    color: white;
    font-size: 20px
}

.machines {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

.washers {
    flex: 0 0 auto;
    flex-grow: 0;
    align-self: flex-start;
    margin-right: 2em;
}

.dryers {
    flex: 0 0 auto;
    flex-grow: 0;
    align-self: flex-start;
    margin-bottom: 2em;
}

.numbering {
    font-size: 15px;
    background-color: black;
    color: white;
}

.washer-numbering {
    width: 1.5em;
}

.dryer-numbering {
    height: 1.5em;
}

.in-use {
    background-color: #e06666;
}

.load-done {
    background-color: #ffd966;
}

.open-machine {
    background-color: #b6d7a8;
}

.out-of-order {
    background-color: #434343;
}

.currently-viewing {
    font-weight: bolder;
}

.dryers-and-timer {
    align-content: baseline;
    display: flex;
    flex-direction: column;
}


.current-machine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 350px;
    width: 450px;
    border: 4px solid black;
    border-radius: 20px;
    background-color: #cfe2f3;
}