@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    font-family: Lexend, Helvetica, Arial, sans-serif;
  }


  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;

  }

  header {
    flex: 0 80px;
    background-color: #6a82c7;  
    align-content: center;
  }

  menu {
    display: flex;
    flex: 1;
    flex-direction: row !important;
    list-style-type: none;
  }
  
  .temp, .temp h2, .temp h3 {
    font-size: 0;
  }

  h1 {
    font-size: 35px;
  }

  .navbar-brand {
    padding-left: 0.8em;

  }

  menu li {
    text-align: left;
    float: left;
    padding-left: 1em;
  }

  a, a:visited {
    text-decoration: none;
  }

  /*
  a:hover, a:focus {
    text-decoration: underline;
  }
  */


  main {
    flex: 1;
    text-align: center;
    align-content: center;
  }

  footer {
    flex: 0 35px;
    /* background-color: darkgray; */
    align-content: center;
    
  }

  .developer-name {
    font-style: italic;
  }
  
  .github-link {
    float: right;
  }

  .github-link:hover {
    text-decoration: underline !important;
  }