
.top-buttons {
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    width: 80%;
}

.top-buttons button {
    flex: 1;
    min-width: 100px;
    margin: 0 0.5em;
}

.alert-success {
    width: 60%;
}

main .view-stats {
    min-width: fit-content;
}

main .form-select {
    display: inline-block;
    width: auto;
}

main .laundry-room-form {
    max-width: 65%;
}

.radials {
    margin-bottom: 0.7em;
}

#input-time {
    margin-bottom: 1em;
    align-content: center;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

table {
    border-radius: 2px;
}

td {
    border-width: 4px;
    border-color: black;
    height: 70px;
    width: 110px;
    color: white;
    font-size: 20px;
}

.machines {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

.washers {
    flex: 0 0 auto;
    flex-grow: 0;
    align-self: flex-start;
    margin-right: 2em;
}

.dryers {
    flex: 0 0 auto;
    flex-grow: 0;
    align-self: flex-start;
    margin-bottom: 2em;
}

.numbering {
    font-size: 15px;
    background-color: black;
    color: white;
}

.washer-numbering {
    width: 1.5em;
}

.dryer-numbering {
    height: 1.5em;
}

.in-use {
    background-color: #e06666;
}

.load-done {
    background-color: #ffd966;
}

.open-machine {
    background-color: #b6d7a8;
}

.out-of-order {
    background-color: #434343;
}

.currently-viewing {
    font-weight: bolder;
}

.dryers-and-timer {
    align-content: baseline;
    display: flex;
    flex-direction: column;
}

.current-machine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 300px;
    width: 450px;
    border: 4px solid black;
    border-radius: 20px;
    background-color: #cfe2f3;
}

.current-machine h3 {
    margin-top: 0.5em;
}

.progress {
    border-radius: 15px;
    width: 90%;
    --bs-progress-bg: #9fc5e8;
    --bs-progress-bar-bg: #0b5394;
    margin-bottom: 1em;
}

@media (max-height: 890px) {
    td {
        height: 55px;
        font-size: 17px;
    }
    .current-machine {
        height: auto;
    }
}

@media (max-width: 750px) {

    .machine-time {
        display: none;
    }
    td {
        width: 80px;
        font-size: 17px;
    }
    .current-machine {
        width: 320px;
    }

}