@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.about {
    padding: 1.5em;
    width: 800px;
}

.card {
    max-width: 800px;
}

.gif {
    flex: 0 0 auto;
    width: 33%;
}

.card-body {
    align-content: center;
    padding: 1.5em;
}

.quote-text {
    font-family: 'EB Garamond', 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 24px;
}

@media (max-width: 900px) {

    .card {
        max-width: 80%;
    }

    .gif {
        width: 100%;
    }

    .col-md-8 {
        width: 100%
    }
    

}