@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    font-family: Lexend, Helvetica, Arial, sans-serif;
  }


  .body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    min-height: 600px;

  }

  header {
    flex: 0 80px;
    background-color: #6a82c7;  
    align-content: center;
  }

  menu {
    display: flex;
    flex: 1;
    flex-direction: row !important;
    list-style-type: none;
  }
  /*
  .temp, .temp h2, .temp h3 {
    font-size: 0;
  }
    */

  h1 {
    font-size: 35px;
  }

  .navbar-brand {
    padding-left: 0.8em;

  }

  menu li {
    text-align: left;
    float: left;
    padding-left: 1em;
  }

  a, a:visited {
    text-decoration: none;
  }

  /*
  a:hover, a:focus {
    text-decoration: underline;
  }
  */


  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: scroll;
    justify-content: space-evenly;
  }

  input {
    margin-bottom: 0.5em;
  }

  #inputs {
    margin-top: 0.7em;
  }

  .form-control {
    width: 230px;
    display: inline-flex;
  }

  #display-error {
    padding-bottom: 0.3em;
    margin: 0.5em;
    border-bottom: 2px solid;
    color: rgb(236, 52, 52);
    width: fit-content;
    display: inline-flex;
  }

  footer {
    flex: 0 35px;
    /* background-color: darkgray; */
    align-content: center;
    
  }

  main #login button {
    margin-top: 0.7em;
  }
  
  #login {
    width: 500px;
  }

  .login-display {
    color: gray;
  }

  .login-display:hover {
    text-decoration: underline;
  }

  .developer-name {
    font-style: italic;
  }
  
  .github-link {
    float: right;
  }

  .github-link:hover {
    text-decoration: underline !important;
  }


  /* Once I add a separate login and create account page with JavaScript, change this because afterwards, stuff can fit on the screen for longer. */
  @media (max-height: 740px) {
    header {
      flex: 0 55px;
    }
    nav {
      font-size: 10px;
    }
    nav h1 {
      font-size: 23px;
    }
    footer {
      flex: 0 25px;
      font-size: 14px;
    }
  }

  @media (max-width: 530px) {
    header {
      flex: 0 55px;
    }
    nav {
      font-size: 10px;
    }
    nav h1 {
      font-size: 25px;
    }
    footer {
      font-size: 14px;
    }
  }